USE [master]
GO
/****** Object:  Database [QLNT]    Script Date: 16/04/2022 11:30:58 CH ******/
CREATE DATABASE [QLNT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNT', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLNT.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLNT_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLNT_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNT]
GO
/****** Object:  Table [dbo].[CHITIETDONTHANG]    Script Date: 16/04/2022 11:30:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONTHANG](
	[MAHDDATHANG] [int] NOT NULL,
	[MADV] [int] NOT NULL,
	[SL] [int] NULL,
	[DONGIA] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CTDONHANG] PRIMARY KEY CLUSTERED 
(
	[MAHDDATHANG] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoVatNT]    Script Date: 16/04/2022 11:30:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DoVatNT](
	[MADV] [int] IDENTITY(1,1) NOT NULL,
	[MATL] [int] NULL,
	[MANCC] [int] NULL,
	[TENDV] [nvarchar](100) NOT NULL,
	[MOTA] [nvarchar](max) NULL,
	[GIABANHT] [decimal](18, 0) NULL,
	[HIANH] [varchar](50) NULL,
	[NGAYCAPNHAP] [datetime] NULL,
	[Soluongton] [int] NULL,
 CONSTRAINT [PK_DoVatnt] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONDATHANG]    Script Date: 16/04/2022 11:30:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONDATHANG](
	[MAHDDATHANG] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NULL,
	[NGAYDAT] [datetime] NULL,
	[NGAYGIAO] [datetime] NULL,
	[DATHANHTOAN] [bit] NULL,
	[TINHTRANGGIAOHANG] [bit] NULL,
 CONSTRAINT [PK_HOADONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MAHDDATHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 16/04/2022 11:30:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[TAIKHOANG] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NOT NULL,
	[EMAIL] [varchar](100) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[DT] [varchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
 CONSTRAINT [PK_KHACHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TAIKHOANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 16/04/2022 11:30:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENHCC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 16/04/2022 11:30:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MATL] [int] IDENTITY(1,1) NOT NULL,
	[TENTL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MATL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CHITIETDONTHANG]  WITH CHECK ADD  CONSTRAINT [FK_MADV] FOREIGN KEY([MADV])
REFERENCES [dbo].[DoVatNT] ([MADV])
GO
ALTER TABLE [dbo].[CHITIETDONTHANG] CHECK CONSTRAINT [FK_MADV]
GO
ALTER TABLE [dbo].[CHITIETDONTHANG]  WITH CHECK ADD  CONSTRAINT [FK_MAHDDATHANG] FOREIGN KEY([MAHDDATHANG])
REFERENCES [dbo].[HOADONDATHANG] ([MAHDDATHANG])
GO
ALTER TABLE [dbo].[CHITIETDONTHANG] CHECK CONSTRAINT [FK_MAHDDATHANG]
GO
ALTER TABLE [dbo].[DoVatNT]  WITH CHECK ADD  CONSTRAINT [FK_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[DoVatNT] CHECK CONSTRAINT [FK_NHACUNGCAP]
GO
ALTER TABLE [dbo].[DoVatNT]  WITH CHECK ADD  CONSTRAINT [FK_THELOAI] FOREIGN KEY([MATL])
REFERENCES [dbo].[THELOAI] ([MATL])
GO
ALTER TABLE [dbo].[DoVatNT] CHECK CONSTRAINT [FK_THELOAI]
GO
ALTER TABLE [dbo].[HOADONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADONDATHANG] CHECK CONSTRAINT [FK_KHACHHANG]
GO
ALTER TABLE [dbo].[CHITIETDONTHANG]  WITH CHECK ADD CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETDONTHANG]  WITH CHECK ADD CHECK  (([SL]>(0)))
GO
ALTER TABLE [dbo].[DoVatNT]  WITH CHECK ADD CHECK  (([GIABANHT]>=(0)))
GO
USE [master]
GO
